@import "../../styles/main"

$prefix: _section_about_

.#{$prefix}title 
    font-size: $font-size-h1
    color: $palette-white

.#{$prefix}description
    font-size: $font-size-p
    color: $palette-white

.#{$prefix}companyFont
    font-family: isocpeur, sans-serif
    font-size: $font-size-p
    color: $palette-white
    font-style: italic
    font-weight: $font-semi-bold
    span
        color: $palette-primary